APScheduler==3.5.3
requests>=2.31.0
https://github.com/squeaky-pl/japronto/archive/master.zip

urllib3>=1.25.9 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
